@page "/bindprop"
@using Model

<PageTitle>Bind Prop</PageTitle>

<h1>Bind Properties Example</h1>
<div class="bg-light border p-2">
    <h2 class="bg-light border-2 p-2">First Room</h2>
    Room : @Room.RoomName<br />
    Price : @Room.Price
    <br />

    <input type="number" @bind-value="@Room.Price" @bind-value:event="oninput" />

    <br />

    <input type="checkbox" @bind-value="Room.IsActive" checked="@(Room.IsActive?"checked":null)" /> &nbsp; Is Active
    <br />
    <span>This room is @(Room.IsActive ? "Active" : "Inactive")</span>

    <br />

    <select @bind="SelectedRoomProp">
        @foreach (var prop in Room.RoomProps)
        {
            <option value="@prop.Name">@prop.Name</option>
        }
    </select>
    <span>The Room Prop selected is : @SelectedRoomProp</span>
  
</div>

<div>
    <br />
    <h2 class="text-info">Room List</h2>
    <table class="table">
        @foreach (var room in RoomsList)
        {
            <tr>
                <td>
                    <input type="text" @bind-value="room.RoomName" @bind-value:event="oninput"/>
                </td>
                <td>
                    <input type="text" @bind-value="room.Price" @bind-value:event="oninput" />
                </td>
                @foreach (var prop in room.RoomProps)
                {
                    <td>@prop.Name - @prop.Value</td>
                }
            </tr>
        }
    </table>
    <br />
    @foreach (var room in RoomsList)
    {
        <p>@room.RoomName's price is @room.Price</p>
    }

</div>

@code {

    string SelectedRoomProp = "";

    List<BlazorRoom> RoomsList = new List<BlazorRoom>();

    BlazorRoom Room = new BlazorRoom()
        {
            Id = 1,
            RoomName = "Villa Suite",
            Price = 499,
            IsActive = true,
            RoomProps = new List<BlazorRoomProp>
            {
            new BlazorRoomProp{Id=1,Name="Sq Ft",Value="100"},
            new BlazorRoomProp{Id=2,Name="Occupancy",Value="3"},
            }
        };

    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomsList.Add(new BlazorRoom()
            {
                Id = 1,
                RoomName = "Villa Suite One Bedroom",
                Price = 499,
                IsActive = true,
                RoomProps = new List<BlazorRoomProp>
                {
                    new BlazorRoomProp{Id=1,Name="Sq Ft",Value="100"},
                    new BlazorRoomProp{Id=2,Name="Occupancy",Value="3"},
                }
            }
        );

        RoomsList.Add(new BlazorRoom()
            {
                Id = 2,
                RoomName = "Villa Suite Two Bedrooms",
                Price = 699,
                IsActive = true,
                RoomProps = new List<BlazorRoomProp>
                {
                    new BlazorRoomProp{Id=1,Name="Sq Ft",Value="120"},
                    new BlazorRoomProp{Id=2,Name="Occupancy",Value="6"},
                }
            }
        );
    }
}